* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    --color-primary: #111a22;
    --color-primary-dark: #090d11;
    --color-primary-bright: #2b4155;
    --color-secondary: #fee71b;
    --color-secondary-bright: #feef67;
    --color-tertiary: ;
    --color-gradient-primary: linear-gradient(to right, var(--color-primary-dark), var(--color-primary), var(--color-primary), var(--color-primary), var(--color-primary-dark));
    --color-gradient-secondary: linear-gradient(180deg, var(--color-primary), var(--color-primary), var(--color-primary-dark));
    --color-error: red;
    --color-success: green;
    
    --box-shadow-primary: rgba(0, 0, 0, 0.5) 0px 0px 15px;
    --box-shadow-secondary: rgba(0, 0, 0, 0.2) 0px 4px 12px;
    
    --font-primary: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --font-secondary: 'Zen Kaku Gothic New', Tahoma, Geneva, Verdana, sans-serif;
    
    --border-radius: 3px;
    --poster-width-primary: 8.8rem;
    --poster-width-secondary: 6rem;
    --gap-primary: 0.5rem;
    --gap-secondary: 1.25rem;
    --section-width-primary: calc(var(--poster-width-primary)*5 + var(--gap-primary)*4);
    --scrollbar-width: 0.5rem;
    
    background-color: var(--color-primary);
    overflow-y: scroll;
    overflow-x: hidden;
    font-family: var(--font-primary);
}

body:hover {
    cursor: default;
}

h2, .nav_item p, h4 {
    white-space: nowrap;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

#grid_wrapper {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(5, max-content);
    grid-template-areas: 
        "he"
        "s1"
        "s2"
        "s3"
        "fo"
    ;
}

#browse_grid_wrapper {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: repeat(3, max-content);
    grid-template-areas: 
        "he he"
        "ca ft"
        "fo fo"
    ;
}

header {
    height: 5rem;
    grid-area: he;
    display: flex;
    justify-content: center;
    background-image: var(--color-gradient-primary);
    z-index: 1;
}

nav {
    width: var(--section-width-primary);
    display: flex;
    align-items: center;
    transition: all ease 0.5s;
}

#nav_logo {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: var(--color-secondary);
    display: flex;
    flex: none;
}

nav ul {
    width: 100%;
    display: flex;
    justify-content: right;
}

.nav_item {
    height: 2rem;
    width: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 0 var(--gap-primary);
    background-color: var(--color-secondary);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow-secondary);
    transition: background-color ease 0.2s;
}

.nav_item p {
    color: var(--color-primary);
    font-weight: bolder;
    margin: 0 1rem 0 1rem;
    font-size: 1rem;
    text-transform: uppercase;
}

.nav_item:hover {
    background-color: var(--color-secondary-bright);
    cursor: pointer;
}

#nav_op, #nav_close {
    display: none;
}

/* .nav_item.logged_out {
    display: none;
}

.nav_item.logged_in {
    display: none;
} */

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#popular, #signup_form, #login_form {
    grid-area: s1;
}

#recent {
    grid-area: s2;
}

.section_header {
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-primary);
    border-top: 1px solid var(--color-secondary);
    border-bottom: 1px solid var(--color-secondary);
    box-shadow: var(--box-shadow-primary);
    flex: none;
}

.section_header h2 {
    color: var(--color-secondary);
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
}

.section_main {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: var(--color-gradient-primary);
}

.content_list { /* varför randomizas scroll-positionen vid omladdningar ibland? */
    width: var(--section-width-primary);
    height: max-content;
    display: flex;
    align-items: center;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    padding: var(--gap-secondary) 0 calc(var(--gap-secondary) - var(--scrollbar-width)) 0;
}

.content_list::-webkit-scrollbar {
    width: auto;
    height: var(--scrollbar-width);
}

.content_list::-webkit-scrollbar-thumb {
    border-radius: 0.25rem 0.25rem 0rem 0rem;
}

.poster_container {
    width: var(--poster-width-primary);
    height: calc(var(--poster-width-primary) * 1.5);
    margin: 0 var(--gap-primary) 0 0;
    flex: none;
    scroll-snap-align: start;

    /* temporary */
    background-color: var(--color-primary-dark);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow-secondary);
    border: 1px solid rgba(0, 0, 0, 0);
    transition: border ease 0.3s;
}

.poster_container a {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.poster_container img {
    min-width: auto;
    max-width: 100%;
    min-height: auto;
    max-height: 100%;
    
    /* border-radius: var(--border-radius);
    box-shadow: var(--box-shadow-secondary);
    border: 1px solid rgba(0, 0, 0, 0);
    transition: border ease 0.3s; */
}

.poster_container:hover {
    border: 1px solid var(--color-secondary);
}

.poster_container.final {
    margin: 0;
}

.poster_container.final a * {
    color: var(--color-secondary);
}

.poster_container.final h4 {
    font-family: var(--font-secondary);
    font-size: 1.8rem;
    margin-bottom: 0.3rem;
    font-weight: normal;
}

.poster_container.final p {
    text-transform: uppercase;
    font-size: 1rem;
}

#popular_reviews {
    grid-area: s3;
}

.review_list {
    width: var(--section-width-primary);
    height: max-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: var(--gap-secondary);
}

.review_container {
    width: calc(50% - var(--gap-primary)/2); 
    height: 12rem;
    display: flex;
    align-items: center;
    margin-bottom: var(--gap-primary);
    border-radius: var(--border-radius);
    background-color: var(--color-primary);    
    border: 1px solid var(--color-secondary);
    box-shadow: var(--box-shadow-secondary);
    padding: var(--gap-secondary);
}

.review_container .poster_container {
    width: var(--poster-width-secondary);
    height: calc(var(--poster-width-secondary) * 1.5);
}

.review_container .text_container {
    width: 100%;
    height: calc(var(--poster-width-secondary) * 1.5);
    overflow-y: hidden;
}

h3, .text_container p {
    color: var(--color-secondary);
}

.text_container h3 {
    font-weight: normal;
}

.text_container p {
    filter: brightness(0.6) saturate(0.4);
    font-size: 0.75rem;
    font-family: var(--font-secondary);
    letter-spacing: 0.05rem;
    margin-top: var(--gap-primary);
}

#popular_reviews .nav_item {
    margin: 0 0 var(--gap-secondary) 0;
}

#popular_reviews .nav_item p {
    margin: 0 2rem 0 2rem;
}

form {
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-top: 0.8rem;
}

form > * {
    height: 2rem;
    width: 16rem;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow-secondary);
    margin-bottom: 0.8rem;
    border: none;
    padding-left: 0.8rem;
}

#categories {
    grid-area: ca;
}

#featured .section_header {
    clip-path: inset(-10px 0px 0px 0px);
}

.category_list {
    width: calc(var(--section-width-primary)*0.75);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: var(--gap-secondary) 0 calc(var(--gap-secondary) - var(--gap-primary)) 0;
}

.category {
    width: calc(50% - var(--gap-primary)/2);
    height: calc(var(--poster-width-primary) * 1.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: var(--gap-primary);
    background-color: var(--color-primary);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow-secondary);
    border: 1px solid var(--color-secondary);
    overflow: hidden;
}

.category h3:first-child {
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

.category ul {
    height: calc(var(--poster-width-primary) * 1.5);
    width: 100%;
    position: absolute;
    top: calc(var(--poster-width-primary) * -1.5);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.subcategories-active {
    transform: translateY(calc(var(--poster-width-primary) * 1.5));
}

.subcategory_line {
    height: 1px;
    width: calc(100% + 2px);
    background-color: var(--color-secondary);
}

#featured {
    grid-area: ft;
    background-color: var(--color-primary);
}

#featured .section_main {
    height: 100%;
    background-image: var(--color-gradient-secondary);
    border-left: 1px solid var(--color-secondary);
}

footer {
    height: 5rem;
    grid-area: fo;
    display: flex;
    align-items: center;
    background-color: var(--color-primary);
    border-top: 1px solid var(--color-secondary);
    box-shadow: var(--box-shadow-primary);
    clip-path: inset(0px 0px 0px -5px);
}

footer ul {
    width: 100%;
    display: flex;
    justify-content: center;
}

footer li:first-child {
    margin: 0;
}

::-webkit-scrollbar {
    width: var(--scrollbar-width);
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: var(--color-secondary);
    border-radius: 0.25rem;
    transition: background-color ease 0.2s;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-secondary-bright);
}

@media screen and (max-width: 50rem) {

    #nav_op, #nav_close {
        display: flex;
    }

    header {
        align-items: center;
    }

    nav {
        width: 100%;
        position: fixed;
        top: -100vh;
        height: 100vh;
        flex-direction: column;
        align-items: center;
        background-image: var(--color-gradient-secondary);
        border-bottom: 1px solid var(--color-secondary);
    }

    .nav_item {
        width: 100%;
        height: 3rem;
        border-radius: 0px;
        margin: 0;
    }

    .nav_item p {
        font-size: 1.3rem;
        letter-spacing: 0.3rem;
    }

    nav ul {
        width: 100%;
        height: 100%;
        flex-direction: column;
        justify-content: space-evenly;
        overflow-y: hidden;
    }

    #nav_logo {
        margin-top: 1rem;
    }

    .content_list, .review_list, #popular_reviews .nav_item {
        width: calc(var(--section-width-primary) - var(--poster-width-primary) - var(--gap-primary));
    }

    #popular_reviews .nav_item {
        border-radius: var(--border-radius);
    }

    footer .nav_item {
        width: 50%;
        margin: 0;
        clip-path: inset(-10px 0 -10px 0); /* removes side box-shadow */
    }

    .nav-active {
        transform: translateY(100vh);
    }

}

@media screen and (max-width: 40rem) {

    .content_list, .review_list, #popular_reviews .nav_item {
        width: calc(var(--poster-width-secondary)*4 + var(--gap-primary)*3);
    }

    .content_list {  
        height: calc(2*var(--gap-secondary) + 3*1.5*var(--poster-width-secondary) + 2*var(--gap-primary));
        justify-content: space-between;
        padding: var(--gap-secondary) 0 var(--gap-secondary) 0;
        flex-wrap: wrap;
        flex: none;
        overflow-x: hidden;
    }

    .content_list .poster_container {
        width: var(--poster-width-secondary);
        height: calc(var(--poster-width-secondary) * 1.5);
        margin: 0 0 var(--gap-primary) 0;
    }

    .content_list li:nth-child(n+12):nth-child(-n+14) {
        display: none;
    }

    .poster_container.final h4 {
        font-size: 1.5rem;
    }

    .poster_container.final p {
        font-size: 0.7rem;
    }

    .review_list {
        flex-wrap: wrap;
    }

    .review_container {
        width: 100%;
    }

    .review_list li:last-child {
        display: none;
    }

}

