* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    --color-primary: #111a22;
    --color-primary-dark: #090d11;
    --color-primary-bright: #2b4155;
    --color-secondary: #fee71b;
    --color-secondary-bright: #feef67;
    --color-tertiary: ;
    --color-gradient-primary: linear-gradient(to right, var(--color-primary-dark), var(--color-primary), var(--color-primary), var(--color-primary), var(--color-primary-dark));
    --color-gradient-secondary: linear-gradient(180deg, var(--color-primary), var(--color-primary), var(--color-primary-dark));
    --color-error: red;
    --color-success: green;
    --box-shadow-primary: rgba(0, 0, 0, 0.5) 0px 0px 15px;
    --box-shadow-secondary: rgba(0, 0, 0, 0.2) 0px 4px 12px;
    --font-primary: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --font-secondary: 'Zen Kaku Gothic New', Tahoma, Geneva, Verdana, sans-serif;
    --border-radius: 3px;
    
    background-color: var(--color-primary);
}

body:hover {
    cursor: default;
}

#grid_wrapper {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(4, max-content);
    grid-template-areas: 
        "he"
        "s1"
        "s2"
        "fo"
    ;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

header {
    grid-area: he;
    display: flex;
    justify-content: center;
    background-image: var(--color-gradient-primary);
    z-index: 1;
}

nav {
    width: calc(5*9rem + 4*0.5rem);
    display: flex;
    align-items: center;
    transition: all ease 0.5s;
}

#nav_logo {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: var(--color-secondary);
    display: flex;
    flex: none;
    justify-content: left;
}

nav ul {
    width: 100%;
    display: flex;
    justify-content: right;
}

.nav_item {
    height: 2rem;
    width: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1.5rem;
    margin-left: 1rem;
    margin-bottom: 1.5rem;
    background-color: var(--color-secondary);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow-secondary);
    transition: background-color ease 0.2s;
}

.nav_item:hover {
    background-color: var(--color-secondary-bright);
    cursor: pointer;
}

h2 {
    font-size: 1rem;
    font-family: var(--font-primary);
    text-transform: uppercase;
}

.nav_item h2 {
    color: var(--color-primary);
    margin: 1rem;
}

#nav_op, #nav_close {
    display: none;
}

#sign_up, #log_in {
    /* display: none; */
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#popular, #signup_form, #login_form {
    grid-area: s1;
}

#recent { /* gör så att storleken får footern att alltid nå botten */
    grid-area: s2;
}

.section_header {
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-primary);
    border-top: 1px solid var(--color-secondary);
    border-bottom: 1px solid var(--color-secondary);
    box-shadow: var(--box-shadow-primary);
}

.section_header h1 {
    color: var(--color-secondary);
    font-size: 1.5rem;
    font-family: var(--font-primary);
    text-transform: uppercase;
    letter-spacing: 0.3rem;
}

.section_main {
    width: 100%;
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: var(--color-gradient-primary);
}

.scroll_button {
    width: 2rem; 
    height: 6rem; 
    margin: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-secondary);
    box-shadow: var(--box-shadow-secondary);
    transition: background-color ease 0.2s;
    border-radius: var(--border-radius);
    flex: none;
}

.scroll_button:hover {
    cursor: pointer;
    background-color: var(--color-secondary-bright);
}

.list {  /* gör så att den kan scrollas av att swipa */
    width: calc(5*9rem + 4*0.5rem);
    height: 15.5rem;
    display: flex;
    align-items: center;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}

.list::-webkit-scrollbar {
    height: 0; /* göm scroll */
}

.scroll_page {
    display: flex;
    scroll-snap-align: start;
}

.poster_container {
    width: 9rem;
    height: 13.5rem;
    margin-right: 0.5rem;
    display: flex;
    flex: none;
    align-items: center;
    background-color: var(--color-primary-dark); /* temporary */

    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow-secondary);
    border: 1px solid rgba(0, 0, 0, 0);
    transition: border ease 0.3s;
}

.poster_container img {
    min-width: auto;
    max-width: 100%;
    min-height: auto;
    max-height: 100%;
    border-radius: var(--border-radius);
}

.poster_container:hover {
    border: 1px solid var(--color-secondary);
}

.poster_container.final {
    flex-direction: column;
    justify-content: center;
}

.poster_container.final > * {
    color: var(--color-secondary);
}

.poster_container.final h1 {
    font-size: 1.8rem;
    font-family: var(--font-secondary);
    margin-right: 0rem;
    margin-bottom: 0.3rem;
}

#signup_form form, #login_form form {
    min-height: 15.5rem;
    max-height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#signup_form form > * {
    /* height: 2rem;
    width: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-secondary);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow-secondary); */
}

footer {
    grid-area: fo;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-primary);
    border-top: 1px solid var(--color-secondary);
    box-shadow: var(--box-shadow-primary);
    clip-path: inset(0px 0px 0px -5px);
}

@media screen and (max-width: 800px) {

    #nav_op, #nav_close {
        display: flex;
    }

    header {
        align-items: center;
    }

    nav {
        width: 100%;
        position: absolute;
        top: -100vh;
        height: 100vh;
        flex-direction: column;
        align-items: center;
        background-image: var(--color-gradient-secondary);
        border-bottom: 1px solid var(--color-secondary);
    }

    li {
        width: 100%;
    }

    .nav_item {
        width: 100%;
        height: 4rem;
        border-top: 1px solid var(--color-primary-dark);
        border-bottom: 1px solid var(--color-primary-dark);
        border-radius: 0px;
    }

    .nav_item h2 {
        font-size: 1.5rem;
        letter-spacing: 0.3rem;
    }

    /* signup and login butttons are still taking up room when hidden */

    nav ul {
        width: 100%;
        height: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }

    nav ul .nav_item {
        margin-top: 0;
    }

    .nav-active {
        transform: translateY(100vh);
    }

    .grid-inactive {
        grid-template-rows: max-content repeat(3, 0px);
    }

    .grid_item-inactive {
        display: none;
    }

    #nav_logo {
        margin: 1rem;
    }

    .nav_item {
        margin-left: 0;
    }


}

#signup_form {
    grid-area: s1;
}